.vstack {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  margin: 10px;
}
h2 {
  background-color: #d1e7dd;
}
h1 {
  background-color: #c7dbd2;
}
